# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
demoenv/
venv/
ENV/
.env
*.env

# FAISS index files
faiss_index/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Streamlit cache
.streamlit/ 